.m-ticket {
  display: flex;
  flex-direction: row;
}
.util {
  border-bottom: 5px solid #ecf5ff;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  box-shadow: 0 0 12px rgb(0 0 0 / 5%);
  font-weight: bold;
  // display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
  .team {
    margin-left: 30px;
    margin-right: 60px;
  }
  .startPort {
    margin-left: 30px;
    margin-right: 120px;
  }
  .startTime {
    margin-right: 100px;
  }
  .queryParams {
    width: 50px;
    margin-right: 50px;
    .el-input {
      width: auto;
    }
  }
}
.m-ticket-table {
  //display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  .header {
    display: flex;
    padding: 16px 16px 0px 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    background: white;
    box-shadow: 0 0 12px rgb(0 0 0 / 5%);
  }
  .footer {
    flex: 1;
    display: flex;
    padding: 16px;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 12px rgb(0 0 0 / 5%);
    position: relative;
    box-sizing: border-box;
    .theStepsBtn {
      display: flex;
      justify-content: center;
      gap: 120px;
      margin-bottom: 30px;
      .nextStep,
      .previousStep {
        height: 30px;
        width: 100px;
        line-height: 0.4;
        background-color: #8dd9df;
        border: 1px solid #8dd9df;
        color: white;
        border-radius: 10px;
      }
      .nextStep:hover,
      .previousStep:hover {
        background-color: #fe83c6;
        border-color: #fe83c6;
      }
    }
    .theSteps {
      margin-top: 30px;
      margin-bottom: 20px;
      :deep(.el-step__head.is-process) {
        /* 进行中状态：圈线 */
        color: #efa73b;
        border-color: #efa73b;
      }
      :deep(.el-step__head.is-process > .el-step__icon) {
        /* 进行中状态：圈内 */
        background: #efa73b;
        color: #fff;
      }
      :deep(.el-step__title.is-process) {
        /* 进行中状态：title（文字） */
        color: #efa73b;
      }
      :deep(.el-step__head.is-success) {
        /* 完成状态：圈线 */
        color: #efa73b;
        border-color: #efa73b;
      }
      :deep(.el-step__title.is-success) {
        /* 完成状态：title（文字） */
        color: #efa73b;
      }
      :deep(.el-step__head.is-success > .el-step__line > .el-step__line-inner) {
        /* 完成状态：line  描述：第一步完成，第二步进行时，之间的进度条有颜色*/
        width: 100% !important;
        border-width: 1px !important;
      }
    }
    .ticket-divider {
      .divider-span {
        font-weight: bold;
        font-size: 1.2em;
      }
      border-width: 5px; /* 调整分割线的粗细 */
      border-color: #8dd9df; /* 设置分割线的颜色 */
    }
    .table-inner {
      .el-table :deep(.el-checkbox__input.is-checked .el-checkbox__inner),
      .el-table :deep(.el-checkbox__input.is-indeterminate .el-checkbox__inner) {
        border-color: HotPink !important;
        background-color: HotPink !important;
      }

      .el-table :deep(.el-checkbox__input .el-checkbox__inner) {
        border-color: #999; /* 修改为你希望的未选中状态的边框颜色 */
      }

      .el-table :deep(.el-checkbox__inner:hover) {
        border-color: #00bfff; /* 修改为你希望的鼠标悬停状态的边框颜色 */
      }
    }
    .table {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  .pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    box-sizing: border-box;
  }
}

.m-dept-side {
  box-sizing: border-box;
  width: 220px;
  height: 100%;
  padding: 18px;
  margin-right: 10px;
  flex-shrink: 0;
  ::v-deep(.el-card__body) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0 !important;
    .el-tree-node__content {
      height: 33px;
    }
    // .el-tree {
    // }
  }
  .filter-search {
    flex-shrink: 0;
    margin-bottom: 10px;
  }
  .title {
    flex-shrink: 0;
    margin: 0 0 15px;
    font-size: 18px;
    font-weight: 700;
  }
  .scrollbar {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  .filter-tree {
    flex: 1;
    overflow: hidden;
    position: relative;
  }
}
